.section-title.tip {
 display: block;
 margin-bottom: 8px;
 letter-spacing: .01em;
 font-size: 12px;
 font-weight: bold;
 color: #728181;
}

.tip-percentage__options {
 display: grid;
 gap: 15px;
 grid-template-columns: repeat(3, 1fr);
}

.option {
 background: #00474b;
 color: white;
 text-align: center;
 border-radius: 5px;
 padding: 5px 15px;
 font-size: 16px;
 max-width: 100px;
 border: none;
 outline: none;
 cursor: pointer;
 font-weight: 700;
}

.option.custom {
 background: #f4f8fa;
 color: #6e8787;
 text-align: right;
 caret-color: #99d3cb;
 cursor:auto;
}

.option:hover {
opacity: .8;
 transition: all .2s ease-in-out;
}

.option:active {
 background: #28c1ae;
 color: #004440;
}

.option.active {
 background: #28c1ae;
 color: #004440;
 transition: all .15s ease-in-out;
}