@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 letter-spacing: .025em;
 line-height: 1.4;
 font-family: 'Space Mono', monospace;
}

body {
 background: #c4e4e8;
 font-size: 24px;
 font-family: 'Space Mono', monospace;
}

.App {
 margin: 0 auto;
 max-width: 1440px;
 width: 100%;
 min-height: 100vh;

 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

header {
grid-column: 3/4;
}

main {
 /* grid-template-columns: 3/4; */
 grid-template-rows: 3/3;
}

header h1 {
 text-align: center;
 color: #3b5e61;
}

header h1 span {
 display: block;
 letter-spacing: 1.9;
 font-weight: 600;
 font-size: 20px;
 letter-spacing: .4em;
}

.section-title {
 font-size: 14px;
}



.two-col-grid {
display: grid;
gap: 10px;
grid-template-columns: repeat(2, 1fr);
}

/* Utility Classes */

.text-align--right {
 text-align: right;
}

.text--md {
 font-size: 28px;
}

.color--secondary {
 color: #dffbff;
}

.sz--sm {
 font-size: 12px;
 letter-spacing: .01em;
 font-weight: 700;
}


.input--primary {
 background: #f3f8fa;
 color: #004f4b;
 border: none;
 padding: 5px 10px;
 width: 100%;
 border-radius: 5px;
 font-weight: 700;
 font-size: 1.05rem;
 outline: none;
 text-align: right;
 border: 1px solid transparent;
 position: relative;
}

.input--primary:focus{
 border: 2px solid #1fc2ac;
}

.input--primary.invalid {
 border: 2px solid #ce917e;
}

/* .input--primary:focus,
.input--primary:invalid {
 border: 2px solid #ce917e;
} */


.error-message {
 text-align: right;
 color: #ce917e;
 opacity: 0;
}



/* MEDIA QUERIES */