@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 letter-spacing: .025em;
 line-height: 1.4;
}

body {
 background: #c4e4e8;
 font-size: 24px;
 font-family: 'Space Mono', monospace;
}

.App {
 margin: 0 auto;
 max-width: 1440px;
 width: 100%;
 min-height: 100vh;

 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

header {
grid-column: 3/4;
}

main {
 /* grid-template-columns: 3/4; */
 grid-template-rows: 3/3;
}

header h1 {
 text-align: center;
 color: #3b5e61;
}

header h1 span {
 display: block;
 letter-spacing: 1.9;
 font-weight: 600;
 font-size: 20px;
 letter-spacing: .4em;
}

.section-title {
 font-size: 14px;
}

.two-col-grid {
display: grid;
gap: 10px;
grid-template-columns: repeat(2, 1fr);
}

/* Utility Classes */

.text-align--right {
 text-align: right;
}

.text--md {
 font-size: 28px;
}

.color--secondary {
 color: #dffbff;
}

.sz--sm {
 font-size: .9rem;
}

/* MEDIA QUERIES */