.section-title.num-of-ppl {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 justify-content: space-between;
 margin-bottom: 8px;
 letter-spacing: .01em;
 font-size: 12px;
 font-weight: bold;
 color: #728181;
}

.input--primary.people{
 padding-left: 10px;
 background-size: 9px 11px;
 background-repeat: no-repeat;
 background-position: 6% 50%;
 background-image: url('../assets/images/icon-person.svg');
}